<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <label>Name :</label>
        <input type="text" v-model="newName">
        <button type="submit" @click="addName">Submit</button>
    </div>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>

<script>
    var app = new Vue({
        el:'#root',

        data: { 
            newName: '',
            names: ['hanky', 'lucy']
        },
        
        methods: {
            addName() {
                this.names.push(this.newName);
                this.newName = '';
            }
        },
    })
    </script>
</body>
</html>